body{
    margin:  0;
    padding: 0;     
    background: url(./images/pozadina.jpg) no-repeat center center fixed; 
    background-size: cover;
    font-family: sans-serif;
}
.login-box{
	margin-top: 50px;
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px;
}
.login-box p{
    margin: 0;
    padding:  0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom:  20px;
}
.avatar{
    width:  100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:  -50px;
    left: calc(50% - 50px);
}
h1{
    margin-botton: 10px;
    text-align: center;
    font-size: 22px;
}
.login-box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 14px;
}
#registracija {
    width: 500px;
    height: 550px;
    font-size: 14px;
}
td{
    font-weight: bold;
}
::placeholder { 
    color:rgb(163, 162, 162);
    
}
table {
    border:3px solid transparent;
}
#logo
{
    height: 40px;
    width: 40px;
    margin: 5px 10px;
    cursor: pointer;

}
.navbar{
	background-color:  rgba(0, 0, 0, 0.5) !important;
	color: #fff;
}
.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}
.login-box a:hover{
    color: #000;
    font-weight: bold;
}


